@model IEnumerable<WalletManager.Models.MovementOfFundsModel>

@{
    ViewBag.Title = "Index";
}
<br />
<p>
    <a data-toggle="modal" data-target="#myModalCreate" style="cursor:pointer;" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        Add
    </a>
</p>
<div class="panel panel-success">
    <div class="panel-heading">Movement of funds</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstimateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstimatePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RealDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RealPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.sectionId)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            <a id="@item.Id" data-toggle="modal" data-target="#myModal" style="cursor:pointer;">
                                @Html.DisplayFor(modelItem => item.name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimateDate)
                        </td>
                        <td>
                            @if (item.sectionId == 1)
                            {
                                <span class="redExpense">
                                    @Html.DisplayFor(modelItem => item.EstimatePrice)
                                </span>
                            }
                            else if (item.sectionId == 2)
                            {
                                <span class="greenIncome">
                                    @Html.DisplayFor(modelItem => item.EstimatePrice)
                                </span>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RealDate)
                        </td>
                        <td>
                            @if (item.sectionId == 1)
                            {
                                <span class="redExpense">
                                    @Html.DisplayFor(modelItem => item.RealPrice)
                                </span>
                            }
                            else if (item.sectionId == 2)
                            {
                                <span class="greenIncome">
                                    @Html.DisplayFor(modelItem => item.RealPrice)
                                </span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fundType.name)
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
<div class="panel panel-success">
    
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    @Html.Partial("PieChart")
                </td>
                <td>
                    @Html.Partial("PieChartIncome")
                </td>
            </tr>
        </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> </div>
    <div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        ----
    </div>
    <script type="text/javascript">
        $(function () {

            $('body').on("click", "a[data-target=#myModal]", function () {
                var url = $('#myModal').data('url');

                $.get("../MovementOfFunds/Edit/" + $(this).attr('id'), function (data) {
                    $('#myModal').html(data);

                    $('#myModal').modal('show');
                });
            });
            $('body').on("click", "a[data-target=#myModalCreate]", function () {
                var url = $('#myModalCreate').data('url');

                $.get("../MovementOfFunds/Create", function (data) {
                    $('#myModalCreate').html(data);

                    $('#myModalCreate').modal('show');
                });
            });
            $("#myCarousel").hide();
            $("#nav").attr("style", "margin-bottom: 0px !important; position: relative !important;")
        });
    </script>
